body {
    background-image: url(../img/pattern.png);
}

.header {
    position: fixed;
    top : 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 10px;
}

a {
    font-size: 20px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 100px 200px 20px 200px;
    padding: 20px 10px 20px 15px;
    border-bottom: 100px whitesmoke;
}

#content {
    background-color: white;
    border: black solid 3px;
    margin: 5px;
    padding: 5px 15px 10px 5px;
}

h1 {
    text-align: center;
}

p {
    color: black;
}

h5 {
    text-align: center;
    color : white
}

footer {
    background-color: black;
    padding: 3px;
}